# Rahul Agrawal 
## TC202 

## Regression On Abalone Dataset

In [1]:
# Importing Libreries

import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler , StandardScaler ,RobustScaler
from sklearn import preprocessing

import seaborn as sns
from sklearn.metrics import mean_squared_error ,mean_absolute_error,r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost.sklearn import XGBRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import BayesianRidge
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('abalone.csv')

In [3]:
df

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole weight    4177 non-null   float64
 5   shucked weight  4177 non-null   float64
 6   viscera weight  4177 non-null   float64
 7   shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [5]:
df['sex'].unique()

array(['M', 'F', 'I'], dtype=object)

In [6]:

df.replace(['M'],1,inplace=True)
df.replace(['F'],0,inplace=True)
df.replace(['I'],0.5,inplace=True)

In [7]:
df['sex'].unique()

array([1. , 0. , 0.5])

In [8]:
df

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
0,1.0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,1.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0.5,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,0.0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,1.0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,1.0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0.0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,1.0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [9]:
df.describe()

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.526454,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.411120,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.000000,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.500000,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,1.000000,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,1.000000,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [10]:
cols=df.columns

In [11]:
scaler=MinMaxScaler()
target=df['Rings']
df=scaler.fit_transform(df.drop(['Rings'] , axis=1))

df=pd.DataFrame(df)

df.columns=cols[:8]

df['Rings'] =target

df

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
0,1.0,0.513514,0.521008,0.084071,0.181335,0.150303,0.132324,0.147982,15
1,1.0,0.371622,0.352941,0.079646,0.079157,0.066241,0.063199,0.068261,7
2,0.0,0.614865,0.613445,0.119469,0.239065,0.171822,0.185648,0.207773,9
3,1.0,0.493243,0.521008,0.110619,0.182044,0.144250,0.149440,0.152965,10
4,0.5,0.344595,0.336134,0.070796,0.071897,0.059516,0.051350,0.053313,7
...,...,...,...,...,...,...,...,...,...
4172,0.0,0.662162,0.663866,0.146018,0.313441,0.248151,0.314022,0.246637,11
4173,1.0,0.695946,0.647059,0.119469,0.341420,0.294553,0.281764,0.258097,10
4174,1.0,0.709459,0.705882,0.181416,0.415796,0.352724,0.377880,0.305431,9
4175,0.0,0.743243,0.722689,0.132743,0.386931,0.356422,0.342989,0.293473,10
4176,1.0,0.858108,0.840336,0.172566,0.689393,0.635171,0.495063,0.491779,12

In [12]:
X=df.drop(['Rings'] , axis=1)
y=df['Rings']

In [13]:
df.describe()

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.526454,0.606746,0.593078,0.123466,0.292808,0.241000,0.237121,0.236503,9.933684
std,0.411120,0.162288,0.166790,0.037015,0.173681,0.149269,0.144324,0.138717,3.224169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.506757,0.495798,0.101770,0.155658,0.124412,0.122449,0.128052,8.000000
50%,0.500000,0.635135,0.621849,0.123894,0.282451,0.225286,0.224490,0.231689,9.000000
75%,1.000000,0.729730,0.714286,0.146018,0.407650,0.336920,0.332456,0.326358,11.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,29.000000

In [14]:
#  test train split 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.15, random_state=8)

In [15]:
def error(x,y,model):
    y_pred = model.predict(x)
    e = mean_squared_error(y,y_pred) 
    print('mean_squared_error in prediction is ',e)
    print('r2_score is ',r2_score(y,y_pred))

### Using LinearRegression

In [16]:
lr =LinearRegression(n_jobs=8)

In [17]:
lr.fit(X_train, y_train)

LinearRegression(n_jobs=8)

In [18]:
print("on test data")
error(X_test, y_test ,lr)

on test data
mean_squared_error in prediction is  5.0149754237162645
r2_score is  0.5081642957945676

In [19]:
print("on train data")
error(X_train, y_train ,lr)

on train data
mean_squared_error in prediction is  4.8897045233564755
r2_score is  0.5308788320352813

In [20]:
lr.score(X_train, y_train)

0.5308788320352813

In [21]:


r = random.randint(0,len(X))
test_x = df.drop(['Rings'] , axis=1)
test_y=df['Rings']
y_p =lr.predict([test_x.loc[r]])

print(f'predicted value  = {y_p} and actual value = {test_y.loc[r]}  and error diff is {test_y.loc[r]-y_p}')

predicted value  = [12.67425787] and actual value = 19  and error diff is [6.32574213]

### Using RandomForestRegressor

In [22]:
rf = RandomForestRegressor().fit(X_train, y_train)

In [23]:
print("on test data")
error(X_test, y_test ,rf)

on test data
mean_squared_error in prediction is  4.9174532695374795
r2_score is  0.5177286252924398

In [24]:
print("on train data")
error(X_train, y_train ,rf)

on train data
mean_squared_error in prediction is  0.6451654084507042
r2_score is  0.9381024459663931

In [25]:
rf.score(X_test, y_test)

0.5177286252924398

In [26]:
print(rf.score(X_test, y_test)*100,"%    Accuracy on Test data ")

51.77286252924398 %    Accuracy on Test data

### Using  XGBRegressor

In [27]:
xg=XGBRegressor().fit(X_train, y_train)

In [28]:
print("on test data")
error(X_test, y_test ,xg)

on test data
mean_squared_error in prediction is  5.362769899789679
r2_score is  0.4740549080896189

In [29]:
print("on train data")
error(X_train, y_train ,xg)

on train data
mean_squared_error in prediction is  0.5957120662111247
r2_score is  0.9428470291125473

In [30]:
print(xg.score(X_test, y_test)*100,"%    Accuracy on Test data ")

47.40549080896189 %    Accuracy on Test data

### Using  SGDRegressor

In [31]:
sgd=SGDRegressor().fit(X_train, y_train)

In [32]:
print("on test data")
error(X_test, y_test ,sgd)

on test data
mean_squared_error in prediction is  5.390485413654625
r2_score is  0.47133675333761027

In [33]:
print("on train data")
error(X_train, y_train ,sgd)

on train data
mean_squared_error in prediction is  5.397293489523475
r2_score is  0.4821804439186078

In [34]:
print(sgd.score(X_test, y_test)*100,"%    Accuracy on Test data ")

47.133675333761026 %    Accuracy on Test data

### Using BayesianRidge

In [35]:
br=BayesianRidge().fit(X_train, y_train)

In [36]:
print("on test data")
error(X_test, y_test ,br)

on test data
mean_squared_error in prediction is  5.014426406603682
r2_score is  0.5082181397709331

In [37]:
print("on train data")
error(X_train, y_train ,br)

on train data
mean_squared_error in prediction is  4.889895609132811
r2_score is  0.5308604991519448

In [38]:
print(br.score(X_test, y_test)*100,"%    Accuracy on Test data ")

50.82181397709331 %    Accuracy on Test data

### Using SVR

In [39]:
svr=SVR().fit(X_train, y_train)

In [40]:
print("on test data")
error(X_test, y_test ,svr)

on test data
mean_squared_error in prediction is  5.0067981021916275
r2_score is  0.5089662735413705

In [41]:
print("on train data")
error(X_train, y_train ,svr)

on train data
mean_squared_error in prediction is  4.972222899767346
r2_score is  0.5229619697922745

In [42]:
print(svr.score(X_test, y_test)*100,"%    Accuracy on Test data ")

50.896627354137046 %    Accuracy on Test data