In [72]:
# Importing Libreries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler , StandardScaler ,RobustScaler
from sklearn import preprocessing

import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [73]:
df = pd.read_csv('abalone.csv')

In [74]:
df

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole weight    4177 non-null   float64
 5   shucked weight  4177 non-null   float64
 6   viscera weight  4177 non-null   float64
 7   shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [76]:
df['sex'].unique()

array(['M', 'F', 'I'], dtype=object)

In [77]:

df.replace(['M'],1,inplace=True)
df.replace(['F'],0,inplace=True)
df.replace(['I'],0.5,inplace=True)

In [78]:
df['sex'].unique()

array([1. , 0. , 0.5])

In [79]:
df

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
0,1.0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,1.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0.5,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,0.0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,1.0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,1.0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0.0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,1.0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [80]:
df.describe()

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.526454,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.411120,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.000000,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.500000,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,1.000000,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,1.000000,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [81]:
cols=df.columns

In [82]:
scaler=MinMaxScaler()

df=scaler.fit_transform(df)

df=pd.DataFrame(df)

df.columns=cols

In [83]:
X=df.drop(['Rings'] , axis=1)
y=df['Rings']

In [92]:
df.describe()

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.526454,0.606746,0.593078,0.123466,0.292808,0.241000,0.237121,0.236503,0.319060
std,0.411120,0.162288,0.166790,0.037015,0.173681,0.149269,0.144324,0.138717,0.115149
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.506757,0.495798,0.101770,0.155658,0.124412,0.122449,0.128052,0.250000
50%,0.500000,0.635135,0.621849,0.123894,0.282451,0.225286,0.224490,0.231689,0.285714
75%,1.000000,0.729730,0.714286,0.146018,0.407650,0.336920,0.332456,0.326358,0.357143
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=1)

In [86]:
lr =LinearRegression()

In [87]:
lr.fit(X_train, y_train)

LinearRegression()

In [88]:
lr.score(X_test, y_test)

0.49923172778748737

In [89]:
lr.score(X_train, y_train)

0.5342800756993599

In [90]:
y_pred = lr.predict(X_test)

error = mean_squared_error(y_test,y_pred)

print('error in prediction is ',error)

error in prediction is  0.006254132860245318

In [91]:
# # lr.score(X_test, y_test)
# 0.4992317277874877
# .fit
# lr.score(X_train, y_train)
# 0.53428007569936