In [3]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
from google.colab import files
uploaded = files.upload()

Saving titanic.csv.csv to titanic.csv.csv

In [5]:
dataset=pd.read_csv("titanic.csv.csv")

In [6]:
dataset.head()

   Unnamed: 0  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0         0       3    0  22.0      1      0   7.2500       2.0
1           1         1       1    1  38.0      1      0  71.2833       0.0
2           2         1       3    1  26.0      0      0   7.9250       2.0
3           3         1       1    1  35.0      1      0  53.1000       2.0
4           4         0       3    0  35.0      0      0   8.0500       2.0

In [7]:
dataset.columns

Index(['Unnamed: 0', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [11]:
dataset=dataset.drop(columns='Unnamed: 0')

In [12]:
dataset.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [34]:
X=dataset.drop(columns=['Survived','Embarked'],axis=1)

In [35]:
X

     Pclass  Sex   Age  SibSp  Parch     Fare
0         3    0  22.0      1      0   7.2500
1         1    1  38.0      1      0  71.2833
2         3    1  26.0      0      0   7.9250
3         1    1  35.0      1      0  53.1000
4         3    0  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    0  27.0      0      0  13.0000
887       1    1  19.0      0      0  30.0000
888       3    1  28.0      1      2  23.4500
889       1    0  26.0      0      0  30.0000
890       3    0  32.0      0      0   7.7500

[891 rows x 6 columns]

In [36]:
Y=dataset['Survived']

In [37]:
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [38]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [39]:
print(X.shape,X_test.shape,X_train.shape)

(891, 6) (179, 6) (712, 6)

In [40]:
class1=LogisticRegression()

In [41]:
class1.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
X_train_Prediction=class1.predict(X_train)

In [47]:
print(X_train_Prediction)

[1 0 0 0 0 0 0 1 0 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0
 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1 1 1 0 0 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 0
 0 0 1 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 1 1 0 1 1 1 0 0 0 0 0 1
 0 0 1 1 1 0 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0 0 0 1 1 1
 1 1 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 1 1 0 0 0 1 0 1 0 0
 1 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0 1
 0 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0 1 1 1 0 1 0
 0 1 0 1 0 0 0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 1 1 0 0 1 0 0 1 0 1 0 0
 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 1 0 1 1 1 0 0 0 0 1 0 0
 1 0 0 1 1 1 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0
 1 0 0 0 1 0 0 0 1 1 0 1 1 0 0 0 0 1 0 0 0 0 1 1 1 1 1 1 0 0 0 0 0 0 0 1 0
 1 0 0 0 0 1 1 1 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1 1 1 0 1 0 0 1 1 0 1 0
 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 1 1 1 1 0
 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 1 1 1 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 1 1 0 1 0 1 1 1 0 0 1 1 1 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0
 0 0 1 0 1 1 0 1 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0
 0 0 1 1 1 1 1 0 0 1 0 0 0 1 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0 1 0 0 0 0 0 1 0
 0 1 1 0 1 1 1 0 0 1 1 0 0 0 0 1 0 0 1 1 1 1 0 0 0 1 0 0 1 1 1 0 0 0 1 0 0
 1 1 0 1 1 1 0 0 0]

In [49]:
from sklearn.metrics import accuracy_score

In [51]:
acc=accuracy_score(Y_train,X_train_Prediction)

In [52]:
print(acc)

0.7921348314606742

In [45]:
Y_test

495    0
648    0
278    0
31     1
255    1
      ..
780    1
837    0
215    1
833    0
372    0
Name: Survived, Length: 179, dtype: int64

In [44]:
X_train

     Pclass  Sex   Age  SibSp  Parch     Fare
140       3    1  28.0      0      2  15.2458
439       2    0  31.0      0      0  10.5000
817       2    0  31.0      1      1  37.0042
378       3    0  20.0      0      0   4.0125
491       3    0  21.0      0      0   7.2500
..      ...  ...   ...    ...    ...      ...
835       1    1  39.0      1      1  83.1583
192       3    1  19.0      1      0   7.8542
629       3    0  28.0      0      0   7.7333
559       3    1  36.0      1      0  17.4000
684       2    0  60.0      1      1  39.0000

[712 rows x 6 columns]

In [27]:
dataset.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64